h1,
p {
  font-family: Lato;
}

.item {
  /* margin: 10px auto; */
  display: flex;
  gap: 1rem;
  background-color: rgb(228, 153, 209);
  color: rgb(102, 61, 61);
  padding: 1rem;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 3px 40px -15px rgb(92, 91, 91);
}
.list {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.item:first-child {
  justify-content: center;
  grid-row: 1/3;
}
